<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{fragmentos/layout}">

<head>
	<title>Consultas</title>
</head>

<body>
	
	<th:block layout:fragment="conteudo">
		<div class="row" style="height: 200px; background-color: #2f89fc;">
			<div class="col-12 my-auto">
				<div class="d-flex justify-content-center">
					<h2 class="font-weight-bold text-white">Lista de Consultas</h2>
				</div>
			</div>
		</div>
		
		<div class="d-flex justify-content-center">
			
			<div class="card mt-4 mb-4 p-4 col-12 col-sm-10 col-md-8 table-responsive" >
				<table id="tbl-consultas" class="table table-hover" th:if="${consultas.size() > 0}">
					<thead>
						<tr>
							<th scope="col">Paciente</th>
							<th scope="col">Médico</th>
							<th scope="col">Data da Consulta</th>
							<th scope="col">Data do Agendamento</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="consulta : ${consultas}">
							<td th:text="${consulta.paciente.nome}"></td>
							<td th:text="${consulta.medico.nome}"></td>
							<td th:text="${#dates.format(consulta.dataConsulta, 'dd/MM/yyyy')}"></td>
							<td th:text="${#dates.format(consulta.dataAgendamento, 'dd/MM/yyyy')}"></td>
						</tr>
					</tbody>
				</table>
				
				<div th:if="${consultas.size() <= 0}">
					Nenhuma Consulta Marcada.
				</div>
				
			</div>
		
		</div>
		
		<script type="text/javascript">
		
			$('#cpf').mask('000.000.000-00', {reverse: true});
			
			$(document).ready( function () {
			    $('#tbl-consultas').DataTable({
			    	
			    	language: {
			            url: '/sismac/vendor/Portuguese-Brasil.json'
			        }
			    	
			    });
			});

		</script>
	</th:block>
	
</body>

</html>