<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"	
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Sistema de marcação de consultas</title>
	
	<script th:src="@{vendor/js/jquery.min.js}"></script>
	<script th:src="@{vendor/bootstrap/bootstrap.min.js}"></script>
	<link rel="stylesheet"th:href="@{vendor/bootstrap/bootstrap.min.css}">
	
	
</head>
<body>

	<div> <!-- Topo -->
	
	</div> <!-- /Topo -->
	
	<div> <!-- Conteudo -->
		
		<th:block layout:fragment="conteudo">
		</th:block>
		
	</div> <!-- /Conteudo -->
	
	<div> <!-- Rodapé -->
	
	</div> <!-- /Rodapé -->


</body>
</html>