<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{fragmentos/layout}">

<head>
	<title>Exames</title>
</head>

<body>
	
	<th:block layout:fragment="conteudo">
		<div class="row" style="height: 200px; background-color: #2f89fc;">
			<div class="col-12 my-auto">
				<div class="d-flex justify-content-center">
					<h2 class="font-weight-bold text-white">Lista de Exames</h2>
				</div>
			</div>
		</div>
		
		<div class="d-flex justify-content-center">
		
			
			<div class="card mt-4 mb-4 p-4 col-8" >
				<div class="d-flex mb-4 justify-content-end ">
						<a th:href="@{form}" class="btn btn-primary btn-submit-hover btn-sismac">Marcar Exame</a>
						<a th:href="@{/}" class="btn btn-primary btn-submit-hover btn-sismac">Voltar</a>
				</div>
				<table class="table table-hover" th:if="${exames.size() > 0}">
					<thead>
						<tr>
							<th scope="col">Título</th>
							<th scope="col">Paciente</th>
							<th scope="col">Data do Exame</th>
							<th scope="col">Data do Agendamento</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="exame : ${exames}">
							<td th:text="${exame.tituloExame}"></td>
							<td th:text="${exame.paciente.nome}"></td>
							<td th:text="${#dates.format(exame.dataExame, 'dd/MM/yyyy')}"></td>
							<td th:text="${#dates.format(exame.dataAgendamento, 'dd/MM/yyyy')}"></td>
						</tr>
					</tbody>
				</table>
				
			</div>
		
		</div>
		
		<script type="text/javascript">
		
			$('#cpf').mask('000.000.000-00', {reverse: true});

		</script>
	</th:block>
	
</body>

</html>