<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{fragmentos/layout}">

<head>
	<title>Pacientes</title>
</head>

<body>
	
	<th:block layout:fragment="conteudo">
		<div class="row" style="height: 200px; background-color: #2f89fc;">
			<div class="col-12 my-auto">
				<div class="d-flex justify-content-center">
					<h2 class="font-weight-bold text-white">Lista de Pacientes</h2>
				</div>
			</div>
		</div>
		
		<div class="d-flex justify-content-center">
			
			<div class="card mt-4 mb-4 p-4 col-12 col-sm-10 col-md-8 table-responsive" >
				
				<div class="d-flex mb-4 justify-content-end row ">
					<a th:href="@{form}" class="btn btn-primary btn-submit-hover btn-sismac col-12 col-md-6 col-lg-4 col-xl-2">Novo Paciente</a>
				</div>
	
				<table id="tbl-pacientes" class="table table-hover" th:if="${pacientes.size() > 0}">
					<thead>
						<tr>
							<th scope="col">Nome</th>
							<th scope="col">CPF</th>
							<th scope="col">Telefone</th>
							<th scope="col">CNS</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="paciente : ${pacientes}">
							<td th:text="${paciente.nome}"></td>
							<td id="cpf" data-mask="000.000.000-00" th:text="${paciente.cpf}"></td>
							<td id="telefone" th:text="${paciente.telefone}"></td>
							<td th:text="${paciente.CNS}"></td>
						</tr>
					</tbody>
				</table>
	
				<div th:if="${pacientes.size() <= 0}">
					Nenhum Pacientes Cadastrado.
				</div>
				
			</div>
		
		</div>
		
		<script type="text/javascript">
		
			$('#cpf').mask('000.000.000-00', {reverse: true});
			$('#telefone').mask('(00) 00000-0000');
			
			$(document).ready( function () {
			    $('#tbl-pacientes').DataTable({
			    	
			    	language: {
			            url: '/sismac/vendor/Portuguese-Brasil.json'
			        }
			    	
			    });
			});

		</script>
	</th:block>
	
</body>

</html>